html, body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}



#container > div {
  width: 100%; /* 466px; */
  height: 61.8026%; /* 288px; */
  position: absolute;

 
}

.way { color: #7EBF03; }
.cycle,
.cycle > div > div {
  height: 38.2%;
  width: 100%;
}
.cycle > div,
.cycle > div > div > div {
  width: 38.2%;
  height: 100%;
  
}

#container div {
 background-color: rgba(0,0,0,0.05); 
}



.cycle {
  position: absolute;
  top: 0;


}
.cycle > div {
  position: absolute;
  right: 0;

}
.cycle > div > div {
  position: absolute;
  bottom: 0;

}
.cycle > div > div > div {
  position: absolute;
  left: 0;

}

.cycle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 10000px;
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 10000px;
}
.cycle > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 10000px;
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px;
}
.cycle > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 10000px;
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px;
}
.cycle > div > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 10000px;
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px;
}



#act_section { position: absolute; left: 0%; top: 0%; height: 61%; width: 99%; border-style: solid; border-width: 0.5%; border-color: #7EBF03; padding: 0.5% 0.5%; }
#adapt_section { position: absolute; left: 1%; top: 10%; height: 87%; width: 57%; border-style: solid; border-width: 1px; border-color: #7EBF03; padding: 0.5% 0.5%; }
#evaluate_section  { position: absolute; left: 60%; top: 10%; height: 59%; width: 38%; border-style: solid; border-width: 1px; border-color: #7EBF03; padding: 0.5% 0.5%; }
#execute_section { position: absolute; left: 60%; top: 71%; height: 26%; width: 38%; border-style: solid; border-width: 1px; border-color: #7EBF03; padding: 0.5% 0.5%; } 

#orient_section { position: absolute; left: 38%; top: 2%; height: 95%; width: 61%; border-style: solid; border-width: 0.5%; border-color: #4F0C8A; padding: 0.5% 0.5%; }
#commit_section { position: absolute; left: 1%; top: 14%; height: 84%; width: 57%; border-style: solid; border-width: 1px; border-color: #4F0C8A; padding: 0.5% 0.5%; }
#strategize_section  { position: absolute; left: 60%; top: 14%; height: 59%; width: 38%; border-style: solid; border-width: 1px; border-color: #4F0C8A; padding: 0.5% 0.5%; }
#target_section { position: absolute; left: 60%; top: 76%; height: 22%; width: 38%; border-style: solid; border-width: 1px; border-color: #4F0C8A; padding: 0.5% 0.5%; } 

#observe_section { position: absolute; left: 0%; top: 38%; height: 60%; width: 94%; border-style: solid; border-width: 0.5%; border-color: #CD2A03; padding: 0.5% 0.5%; }
#test_section { position: absolute; left: 1%; top: 21%; height: 74%; width: 57%; border-style: solid; border-width: 1px; border-color: #CD2A03; padding: 0.5% 0.5%; }
#model_section  { position: absolute; left: 60%; top: 21%; height: 53%; width: 38%; border-style: solid; border-width: 1px; border-color: #CD2A03; padding: 0.5% 0.5%; }
#sense_section { position: absolute; left: 61%; top: 77%; height: 18%; width: 36%; border-style: solid; border-width: 1px; border-color: #CD2A03; padding: 0.5% 0.5%; } 

#act_section2 { position: absolute; left: 0%; top: 5%; height: 86%; width: 59%; border-style: solid; border-width: 0.5%; border-color: #7EBF03; padding: 0.5% 0.5%; }
#orient_section2 { position: absolute; left: 6%; top: 5%; height: 52%; width: 78%; border-style: solid; border-width: 0.5%; border-color: #4F0C8A; padding: 0.5% 0.5%; }
#observe_section2 { position: absolute; left: 39%; top: 6%; height: 72%; width: 46%; border-style: solid; border-width: 0.5%; border-color: #CD2A03; padding: 0.5% 0.5%; }


#act_section3 { position: absolute; left: 14%; top: 38%; height: 40%; width: 58%; border-style: solid; border-width: 0.5%; border-color: #7EBF03; background-color: #7EBF03; padding: 0.5% 0.5%; }
/*
#orient_section3 { position: absolute; left: 0%; top: 28%; height: 20%; width: 59%; border-style: solid; border-width: 0.5%; border-color: #4F0C8A; background-color: #4F0C8A; padding: 0.5% 0.5%; }
#observe_section3 { position: absolute; left: 51%; top: 26%; height: 20%; width: 38%; background-color: #CD2A03; }
*/

#wayfinder_logo_dog { position: absolute; left: 0%; bottom: 0%; display: block; }

h1,h2,h3,p {
margin:0;
padding:0;
}

/* #plan_section { border-style: solid; border-width: 3px; border-color: #4F0C8A;  }
#act_section { border-style: solid; border-width: 3px; border-color: #7EBF03; } */
